/* body {
    background-color: antiquewhite;
} */

.main-box {
    display:inline-flex;
    background-color: yellow;
}

.second-box {
    display: inline-flex;
    background-color: blueviolet;

}

.third-box {
    display: inline-block;
    background-color: green;
}

.topic-box {
    background-color: rgb(222, 233, 230);
    display: inline-block;
}

button {
    background-color: rgb(177, 174, 167);
    border-radius: 10px;
}

.nice-form {
    background-color: rgb(177, 174, 167);
    border-radius: 10px;
    display:inline-flex;
}
