<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Kids website</h1>
    <div class="main-box">
        <p>Hello my fans</p>
    </div>

    <div class="second-box">
        <p>Hello my fans. This is second box</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis vitae</p>
    </div>

    <div class="third-box">
        <p>Hello my fans. This is the third box</p>
    </div>
    <p class="nav-links">
        <a href="{% url 'home' %}">Homepage</a>&nbsp;
        <a href="{% url 'topics' %}">Topics</a>&nbsp;&nbsp;
    </p>

    {% if user.is_authenticated %}
        <p>Hello {{ user.username  }}.</p>
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}

    {% block content %}    {% endblock content %}
</body>
</html>
